.mediaContainer {
    width: 490px;
    padding:10px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow: 6px 5px 1px rgba(35, 35, 90, 0.855);
    background-color: white;
    margin-top:5px;
    transition:0.5s;
}
.mediaContainer:hover {
    transform:scale(1.04);
    background-color:rgba(41, 41, 41, 0.11);
}
.mediaContainer .flex {
    display:flex;
    justify-content:space-between;
}