*,.navcolor {
  font-family: 'Roboto', sans-serif;
  /* color:rgb(35, 35, 90); */

  color:rgb(35, 35, 90);
}

body {
  background: radial-gradient(circle, rgba(255,255,255,1) 76%, rgba(167, 167, 167, 0.758) 100%);
}