.mediaContainer {
    width: 500px;
    padding:10px;
    border: 1px solid black;
    border-radius:5px;
    box-shadow: 6px 5px 1px rgba(35, 35, 90, 0.855);
    background-color: white;
    margin-top:5px;
    transition:0.5s;
}
.flex > div {
    margin-left:15px;
}
.mediaContainer:hover {
    transform:scale(1.04);
    background-color:rgba(111, 148, 230, 0.3);
}
.mediaContainer .flex {
    display:flex;
    justify-content:space-between;
}
